:root {
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --primary-accent-color: #404BBF;
    --secondary-accent-color: #4D5AE5;
    --dark-background-text: #FFFFFF;
    --light-background-color: #F4F4FD;
    --background-color-primary: #ffffff;
    --color-text-footer: #e7e9fc;
}

body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    background-color: var(--background-color-primary);
    font-size: 16px;

}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.description {
    font-size: 16px;
    line-height: 1.5;
}


/*====== HEADER ======= */

.header {
    background-color: var(--dark-background-text);
}
.logo {
    
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.3;
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
    text-transform: uppercase;
}

.web {
    color: var(--secondary-accent-color);
    color: #4d5ae5;
    font-style: normal;
    line-height: 24px;
}


.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-text-color)
}

.menu-link:hover,
.menu-link:focus {
    color: var(--primary-accent-color);
}

.number,
.mail {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-text-color)
}

.number:hover,
.number:focus {
    color: var(--primary-accent-color);
}

.mail:hover,
.mail:focus {
    color: var(--primary-accent-color);
}

/* ===== HERO ====== */

.hero {
    background-color: var(--primary-text-color);
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark-background-text);
}

.hero-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--dark-background-text);
    cursor: pointer;
    background-color: var(--secondary-accent-color);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--primary-accent-color);
}

/* ===== Adventages ======= */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.suptitleA{
color: var(--primary-text-color);
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
}

.txtA {
color: var(--secondary-text-color);
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}

/* ======= SERVICES ======= */

.serv-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: var(--primary-text-color);
}

/* ======= TEAM ========= */

.team {
    background-color: var(--light-background-color);
left: 639px;
top: 1668px;
font-weight: 700;
font-size: 36px;
line-height: 40px;
}

.team-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: var(--primary-text-color);
}

.suptitleT {
text-align: center;
color: var(--primary-text-color);
font-weight: 500;
font-size: 20px;
line-height: 24px;
}

.txtT {
text-align: center;
color: var(--secondary-text-color);
font-weight: 400;
font-size: 16px;
line-height: 24px;
}

/* ======= FOOTER ======== */

.footer {
    background-color: var(--primary-text-color);
}

.logo-footer {
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
}

.web {
    color:var(--secondary-accent-color);
}

.studio {
    color:var(--light-background-color);
}

.txt-footer {
    color: var(--color-text-footer);
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #E7E9FC;
}


/* ======= PORTFOLIO PAGE =========*/


.buttons-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--secondary-accent-color);
    background-color: var(--light-background-color);
    cursor: pointer;
}

.buttons-btn:hover,
.buttons-btn:focus {
    color: var(--dark-background-text);
    background-color: var(--primary-accent-color);
}

.suptitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
/* ====== Work examples ======= */

.work-name {
color: var(--primary-text-color);
}

.work-description {
color: var(--secondary-text-color);
}
.logo-footer{
    background: #2E2F42;
}